.WeatherHistory{

   width: 100%;
   flex-grow: 1;

   display: flex;
   flex-direction: column;

   h3, h4 {
      margin-top: 0px;
   }

   h4.sort-by{

      span{

         margin-left: 30px;
         padding: 5px;
         text-decoration: underline;
         border: 1px solid var(--background-color);

         &:not(.active):hover{
            cursor: pointer;
            text-decoration: underline;
            color: #00aedd;
            border: 1px solid #00aedd;
         }

         &.active {
            color: #00aedd;
            border: 1px solid #00aedd;
            text-decoration: none;
            cursor: auto;
         }

      }

   } 

   .content{
      flex-grow: 1;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 20px;
   }

   .menu {

      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h4 {
         margin: 5px;
         cursor: pointer;

         &:hover {
            text-decoration: underline;
         }

         &.active {
            text-decoration: underline;
            color: #00aedd;
            cursor: auto;
         }

      }

   }

   figure{

      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 0px 10px;
      margin: 0px;
      border-left: 1px solid var(--foreground-color);
      border-bottom: 1px solid var(--foreground-color);


      .column {
         position: relative;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: flex-end;
         // width: calc(1/12 * 100%);
      }

      .bar {
         position: relative;
         display: flex;
         justify-content: center;
         width: 80%;
         max-width: 40px;
         min-width: 20px;
         height: 75%;
         border: 1px solid var(--foreground-color);
         border-bottom: none;
         background-color: var(--nice-blue);
         transition: height 1000ms;
      }

      .data-name{

         // For when bars are shorter than labels:
         position: absolute;
         bottom: -15px;
         left: -25px;
         white-space: nowrap;

         display: flex;
         align-items: center;
         padding-top: 20px;
         margin: 0px;
         writing-mode: tb-rl;
         transform: rotate(-180deg);
      }

      .short-name{
         font-size: 0.8em;
         position: absolute;
         bottom: -1.5em;
      }

      .date-reference {
         position: absolute;
         top: -45px;
         left: 10px;
         transform: rotate(-30deg);
         font-family: monospace;
         color: #b40000;
      }


   }


}