.WeatherHistory{

   width: 100%;
   flex-grow: 1;

   display: flex;
   flex-direction: column;

   h3, h4 {
      margin-top: 0px;
   }

   h4.sort-by{

      span{

         margin-left: 30px;
         padding: 5px;
         border: 1px solid var(--foreground-color);

         &:not(.active):hover{
            cursor: pointer;
            text-decoration: underline;
            color: var(--nice-blue);
            border: 1px solid var(--nice-blue);
         }

         &.active {
            color: var(--nice-blue);
            border: 1px solid var(--nice-blue);
            cursor: auto;
         }

      }

   } 

   .content{
      flex-grow: 1;
      // border: 1px solid var(--foreground-color);
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 20px;
   }

   // .content > * {
   //    border: 1px solid blue;
   // }

   .menu {

      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h4 {
         margin: 5px;
         cursor: pointer;

         &:hover {
            text-decoration: underline;
         }

         &.active {
            color: var(--nice-blue);
            cursor: auto;
         }

      }

   }

   figure{

      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 0px;
      margin: 0px;
      border-left: 1px solid var(--foreground-color);
      border-bottom: 1px solid var(--foreground-color);


      .column {
         width: 50px;
         writing-mode: tb-rl;
         transform: rotate(-180deg);
         background-color: lightblue;
      }

      .bar {
         display: flex;
         align-items: center;
         width: 100%;
         padding: 20px;
         height: 75%;
         border: 1px solid var(--foreground-color);
         background-color: var(--background-color);
      }
   }


}